In [1]:
import pandas as pd
import yfinance as yf

In [23]:
mcd = yf.Ticker("MCD")
mcd_history = mcd.history(period="max")

# Create rolling weekly average column
mcd_history["weekly_avg_close"] = mcd_history["Close"].rolling(7).mean()

# Drop NAs
mcd_history = mcd_history.dropna()
mcd_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits,weekly_avg_close
Date,,,,,,,,
1966-07-13,0.000000,0.123763,0.121445,0.121909,291600,0.0,0.0,0.123697
1966-07-14,0.000000,0.122373,0.120519,0.120519,328050,0.0,0.0,0.123565
1966-07-15,0.000000,0.120982,0.118664,0.118664,376650,0.0,0.0,0.122240
1966-07-18,0.000000,0.122373,0.117737,0.118664,607500,0.0,0.0,0.121578
1966-07-19,0.000000,0.118664,0.116810,0.116810,413100,0.0,0.0,0.120452
...,...,...,...,...,...,...,...,...
2022-11-07,275.070007,278.079987,275.070007,276.410004,3029500,0.0,0.0,273.497144
2022-11-08,276.859985,279.519989,276.500000,278.399994,2628800,0.0,0.0,274.051431
2022-11-09,278.510010,280.250000,277.679993,277.790009,2610800,0.0,0.0,274.784289
2022-11-10,281.489990,281.670013,272.579987,275.880005,4510900,0.0,0.0,275.202859
2022-11-11,276.329987,277.000000,269.179993,271.390015,4742400,0.0,0.0,275.348576

,Open,High,Low,Close,Volume,Dividends,Stock Splits,weekly_avg_close,weekly_avg_close_percent
Date,,,,,,,,,
1966-07-13,0.000000,0.123763,0.121445,0.121909,291600,0.0,0.0,0.123697,-0.014666
1966-07-14,0.000000,0.122373,0.120519,0.120519,328050,0.0,0.0,0.123565,-0.025274
1966-07-15,0.000000,0.120982,0.118664,0.118664,376650,0.0,0.0,0.122240,-0.030136
1966-07-18,0.000000,0.122373,0.117737,0.118664,607500,0.0,0.0,0.121578,-0.024555
1966-07-19,0.000000,0.118664,0.116810,0.116810,413100,0.0,0.0,0.120452,-0.031180
...,...,...,...,...,...,...,...,...,...
2022-11-07,275.070007,278.079987,275.070007,276.410004,3029500,0.0,0.0,273.497144,0.010538
2022-11-08,276.859985,279.519989,276.500000,278.399994,2628800,0.0,0.0,274.051431,0.015620
2022-11-09,278.510010,280.250000,277.679993,277.790009,2610800,0.0,0.0,274.784289,0.010820
2022-11-10,281.489990,281.670013,272.579987,275.880005,4510900,0.0,0.0,275.202859,0.002454
2022-11-11,276.329987,277.000000,269.179993,271.390015,4742400,0.0,0.0,275.348576,-0.014586

In [24]:
# Create weekly average close percent column
mcd_history["weekly_avg_close_percent"] = (mcd_history["Close"] - mcd_history["weekly_avg_close"]) / mcd_history["Close"] * 100
mcd_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits,weekly_avg_close,weekly_avg_close_percent
Date,,,,,,,,,
1966-07-13,0.000000,0.123763,0.121445,0.121909,291600,0.0,0.0,0.123697,-1.466681
1966-07-14,0.000000,0.122373,0.120519,0.120519,328050,0.0,0.0,0.123565,-2.527384
1966-07-15,0.000000,0.120982,0.118664,0.118664,376650,0.0,0.0,0.122240,-3.013621
1966-07-18,0.000000,0.122373,0.117737,0.118664,607500,0.0,0.0,0.121578,-2.455525
1966-07-19,0.000000,0.118664,0.116810,0.116810,413100,0.0,0.0,0.120452,-3.117936
...,...,...,...,...,...,...,...,...,...
2022-11-07,275.070007,278.079987,275.070007,276.410004,3029500,0.0,0.0,273.497144,1.053818
2022-11-08,276.859985,279.519989,276.500000,278.399994,2628800,0.0,0.0,274.051431,1.561984
2022-11-09,278.510010,280.250000,277.679993,277.790009,2610800,0.0,0.0,274.784289,1.082012
2022-11-10,281.489990,281.670013,272.579987,275.880005,4510900,0.0,0.0,275.202859,0.245449
2022-11-11,276.329987,277.000000,269.179993,271.390015,4742400,0.0,0.0,275.348576,-1.458625